    <!-- #main -->
    <div id="main">
      <!-- .container-fluid -->
      <div class="container-fluid">
        <!-- .row-fluid -->
        <div class="row-fluid">
          <!-- .span12 -->
          <div class="span12 logo">
            <h1>404</h1>
          </div>
          <!-- /.span12 -->
        </div>
        <!-- /.row-fluid -->
        <!-- .row-fluid -->
        <div class="row-fluid">
          <!-- .span6 -->
          <div class="span6 offset3">
            <p class="lead">Wrong way</p>
            <form class="relative">
              <a [routerLink]="['/dashboard']" class="btn btn-success">
                <i class="icon-search"></i> &nbsp; Home
              </a>  
            </form>
          </div>
          <!-- /.span6 -->
        </div>
        <!-- /.row-fluid -->
        <div class="row-fluid">
          <div class="span6 offset3">
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#main -->