<div id="content">
        <div class="container-fluid outer">
                 <div class="row-fluid">
                     <div class="span12 inner">

                     <div class="inner bg-light lter">
                        <div class="form-group">
                            <h1 class="c-btn-text">Top 5</h1>
                           
                             <div class="col-sm-4">
                             <select #selectCategory class="form-control c-btn" name="type" (change)="selectTop5(selectCategory.value)">
                                 <option *ngFor="let category of categories" value="{{category.key}}">{{category.value}}</option>
                                 </select>
                                 <div *ngIf="itemList">
                                    <angular2-multiselect [data]="itemList" 
                                          [(ngModel)]="selectedItems" 
                                          [settings]="settings" 
                                          (onSelect)="onItemSelect($event)"
                                          (onDeSelect)="OnItemDeSelect($event)" 
                                          (onSelectAll)="onSelectAll($event)" 
                                          (onDeSelectAll)="onDeSelectAll($event)">
                                    </angular2-multiselect>
                                </div>
                             </div>
                             
                         </div> 
                     
                       <div class="tacPadre box">
                       <div class="tac" *ngFor="let key of doughnutChartLabels; let i = index" >
                           <a class="quick-btn auto" >
                                
                             <i class="label label-{{colors[i]}}">{{order[i]}}</i>
                             <div class="box">
                               <div class="label-{{colors[i]}}" style="color: #ffffff">
                                  <span> {{doughnutChartData[i]}}</span>
                               </div>
                                
                                <a class="auto" href="javascript:void(0)" (click)="selectedItem(selectCategory.value, doughnutChartLabels[i])"><br>{{   doughnutChartLabels[i]}}</a>
                             </div>
                             
                           </a>
                       </div>
                       </div>
                         <br>
                     <hr>
                     <div class="box">
                        <header>
                      <h5>Top 5</h5>
                        </header>
                        <div style="display: block" *ngIf="doughnutChartData">
                            <canvas baseChart
                              [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              [chartType]="doughnutChartType">
                            </canvas> 
                          </div>
                    </div>
                    
                     
 
                                           <br>
                                           <hr>
                                           <div class="box">
                                              <header>
                                            <h5>Historical</h5>
                                              </header>
                                              <div style="display: block" *ngIf="barChartData">
                                                  <canvas baseChart
                                                    [datasets]="barChartData"
                                                    [labels]="barChartLabels"
                                                    [options]="barChartOptions"
                                                    [plugins]="barChartPlugins"
                                                    [legend]="barChartLegend"
                                                    [chartType]="barChartType">
                                                  </canvas>
                                                </div>
                                          </div>

                                          <br>   
                                          <hr>
                                               <div class="box">
                                                 <header>
                                               <h5>Comparative</h5>
                                                 </header>
                                                   <div style="display: block" *ngIf="lineChartData">
                                                     <canvas baseChart
                                                                 [datasets]="lineChartData"
                                                                 [labels]="lineChartLabels"
                                                                 [options]="lineChartOptions"
                                                                 [colors]="lineChartColors"
                                                                 [legend]="lineChartLegend"
                                                                 [chartType]="lineChartType"
                                                                 [plugins]="lineChartPlugins"
                                                                 (chartHover)="chartHovered($event)"
                                                                 (chartClick)="chartClicked($event)"></canvas>
                                                 </div>
                                             </div>
                     </div>

                            </div>

                    </div> 
                </div>
        </div>
